@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
 
}

/* *{
  border: 1px solid red;
} */

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hero-section {
  background: url('../public//assets/hero-bg.jpeg') no-repeat center center;
  background-size: cover;
  position: relative;
}

.hero-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(7, 41, 81, 0.65);
  z-index: 1;
}

.hero-section .container {
  position: relative;
  z-index: 10;
}

.hero-border-gradient {
  background: linear-gradient(180deg, #FF9900 0%, #072951 100%);
}